/* ChatRoomStrip.css */

.chatroom-strip-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chatroom-strip-header {
    padding: 1rem;
}

.chatroom-strip-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
}