.searchbot-strip {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: transparent;
}

.searchbot-strip-header {
    padding: 1rem;
}

.searchbot-strip-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
}